body{
    background-color: rgb(235, 235, 235);
    color: gray;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#title{
    text-align: center;
}
form{
    margin: 0 15% 0 15%;
}

.formulario{
    margin-top: 60px;
}