body{
    background-color: rgb(235, 235, 235);
    color: gray;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#title{
    text-align: center;
}
fieldset{
    border: 2px gray solid;
    width: 80%;
    border-radius: 10px;
    margin: 20px auto 0 auto;
}